.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.header__title {
    text-decoration: none;
    font-size: 24px;
}

.header-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav__item {
    margin-left: 10px;
}

.header-nav__link {

    padding: 5px 25px;
    text-decoration: none;
    border: solid 1px;
    border-radius: 3px;
    color: #000000;
    background: #e4e4e4;
}

.dictionary__alert {
    width: 100%;
    margin-bottom: 20px;
}

.dictionary__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.dictionary__alert--danger {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;

}

ul {
    list-style: none;
}